.stock-details {
    background-color: black;
    width: 70%;
    border-radius: 25px;
    color: white;
    margin: auto;
    padding: 1%;
}

.stock-details .information {
    text-align: center;
}

.stock-details h2 {
    text-align: center;
}

.stock-details p {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

.stock-details .graph {
    margin: auto;
}

@media (max-width: 500px) {
    .stock-details {
        width: 95%;
    }
}