
.small-stock-card {
    width: 100%;
    background-color: black;
    height: 300px;
    border: 2px solid grey;
    border-radius: 25px;
    margin: auto;
    padding: 1%;
}

.small-stock-card footer {
    display: flex;
    justify-content: space-between;
}

.small-stock-card h3 {
    color: white;
}

.small-stock-card .green {
    color: green;
}

.small-stock-card .red {
    color: red;
}

.small-stock-card .price {
    color: white;
}

@media (max-width: 800px) {
    .small-stock-card {
        height: 100%;
        width: 97%;
        padding:2%;
    }
}


